<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zykj.onexiubrother">
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--读取写入内存卡 权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.MyApplication"
        android:theme="@style/AppTheme">
    <activity android:name=".activity.MainActivity">
    </activity>
        <activity android:name=".activity.Activity_Mobile"/>
        <activity android:name=".activity.Activity_computer"/>
        <activity android:name=".activity.Activity_Appliance"/>
        <activity android:name=".activity.Activity_Call_Service"/>
        <activity android:name=".activity.Activity_Address"/>
        <activity android:name=".activity.Activity_EditAdd"/>
        <activity android:name=".activity.Activity_EditPhone"/>
        <activity android:name=".activity.Activity_GeRenZhongXin"/>
        <activity android:name=".activity.Activity_WeiWanCheng"/>
        <activity android:name=".activity.Activity_YiWanCheng"/>
        <activity android:name=".activity.Activity_YiQuXiao"/>
        <activity android:name=".activity.Activity_YiWanCheng_XiangQing"/>
        <activity android:name=".activity.Activity_WeiWanCheng_XiangQing"/>
        <activity android:name=".activity.Activity_WoDeZiLiao"/>
        <activity android:name=".activity.Activity_DiZhiGuanLi"/>
        <activity android:name=".activity.Activity_RenZhengXinXi"/>
        <activity android:name=".activity.Activity_DengLu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Activity_ZhuCe"/>
        <activity android:name=".activity.Activity_MiMa"/>
    </application>
</manifest>
